.main {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .isHome {
  width: 70%;
}
.main__title {
  color: white;
  font-size: 25px;
}

::placeholder {
  color: white;
}
